body { 
    color: white; 
    background:black;
    margin: 0px; 
    font-family: "Margarine", sans-serif
}

header {
    border-bottom: solid 2px rgb(8, 8, 240);
    padding: 20px; 
    font-size: 32px;
    color: rgb(8, 8, 240);
}

section {
    background:rgb(14, 102, 189);
padding-bottom: 80px; 
padding-top: 80px;
display: flex; 
justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
font-size: 40px
}

p {
    font-size: 30px
}
img {
    height: 300px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

section {
    padding-left: 20px;
    padding- right:;
}